@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Strait&family=Teko&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Teko", sans-serif;
  color: white;
}

ul,
li,
a {
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 11vw;
  text-align: left;
  line-height: 6vw;
  font-weight: 400;
}

@media (min-width: 720px) {
  h1 {
    font-size: 7vw;
  }
}

h2 {
  font-size: 9vw;
  text-align: left;
}

@media (min-width: 720px) {
  h2 {
    font-size: 5.5vw;
    margin-bottom: 0;
    margin-top: 2vw;
  }
}

h3,
h4 {
  font-size: 7.5vw;
  text-align: left;
}

@media (min-width: 720px) {
  h3,
  h4 {
    font-size: 4vw;
  }
}

h4 {
  color: #35a603;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 4vw;
  text-align: left;
  font-weight: 400;
  color: white;
}

@media (min-width: 720px) {
  p {
    font-size: 1.458vw;
  }
}

span {
  color: #35a603;
}

html,
body {
  background-color: #000000;
}

#modern_wrap {
  width: 100%;
  margin: 0 auto;
}

section {
  width: 86%;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: 3.6vw;
  left: 5vw;
  width: 16%;
}

.two-col-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5vw;
}

@media (min-width: 720px) {
  .two-col-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.two-col-block__column img {
  width: 100%;
}

@media (min-width: 720px) {
  .two-col-block__column img {
    padding-left: 0;
  }
}

.banner {
  width: 100vw;
  margin: auto;
  display: block;
  overflow-x: visible;
}

.banner img {
  width: 100vw;
  display: block;
}

nav {
  width: 100%;
  height: 4vw;
}

@media (min-width: 720px) {
  nav {
    height: 6vw;
    padding: 2vw 5.555vw;
    display: block;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 6vw auto 2vw 10vw;
}

@media (min-width: 720px) {
  nav ul {
    width: 50.833vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 2vw auto;
  }
}

nav ul li {
  font-size: 2.733vw;
}

@media (min-width: 720px) {
  nav ul li {
    font-size: 1.111vw;
  }
}

nav ul li a {
  color: white;
}

@media (min-width: 720px) {
  nav ul li a:hover {
    text-decoration: underline;
  }
}

.join-exile {
  margin-bottom: 3vw;
}

.join-copy {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

@media (min-width: 720px) {
  .join-copy p {
    width: 90%;
  }
}

.join-links {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.join-links .two-col-block.social {
  padding: 0;
  margin: 2vw 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.join-links p {
  text-align: center;
  display: block;
  margin-top: 5vw;
}

.join-links a {
  display: block;
  margin-top: 1vw;
}

.join-links a img {
  margin: 0 auto;
}

@media (min-width: 720px) {
  .join-links a img {
    width: 15vw;
  }
}

.origins {
  border-bottom: 2px solid #35a603;
  padding: 0 5vw;
}

.origins h1 {
  margin-bottom: 0;
}

.origins .no-margin {
  margin-top: 0;
}

.origins .two-col-block {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 0 3vw 0;
  margin: 0;
}

@media (min-width: 720px) {
  .origins .origins-copy-right {
    padding-left: 3vw;
  }
}

.team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "the-team" "brian" "peter" "alan" "mal";
  grid-row-gap: 10vw;
  padding-bottom: 15vh;
}

@media (min-width: 720px) {
  .team {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "the-team the-team" "brian peter" "alan mal";
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
  }
}

.team img {
  width: 100%;
}

@media (min-width: 720px) {
  .team img {
    width: 50%;
  }
}

.team h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: the-team;
  padding-left: 5vw;
}

.team h4,
.team p {
  margin: 1vw;
}

.team .brian {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: brian;
}

.team .peter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: peter;
}

.team .alan {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: alan;
}

.team .mal {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: mal;
}

.roadmap {
  border-bottom: 2px solid #35a603;
  padding-bottom: 3vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.roadmap .ul {
  list-style-type: none;
}

.roadmap .check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roadmap .check-wrap.double-line {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 720px) {
  .roadmap .check-wrap.double-line {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.roadmap ion-icon {
  fill: #35a603;
  font-size: 5vw;
}

@media (min-width: 720px) {
  .roadmap ion-icon {
    font-size: 3vw;
  }
}

.roadmap p {
  padding-left: 2vw;
  text-align: left;
}

#ie_wrap {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

#ie_wrap img {
  width: 30%;
  display: block;
  margin: 0 auto;
  padding: 2vw 0;
}

#ie_wrap p {
  background-repeat: no-repeat;
  text-align: left;
  padding-left: 3vw;
}

header.two-col-block {
  width: 86%;
  padding-bottom: 5vw;
  margin: 12vw auto 0 auto;
  border-bottom: 2px solid #35a603;
}

@media (min-width: 720px) {
  header.two-col-block {
    margin: 5vw auto 0 auto;
  }
}

header.two-col-block img {
  width: 100%;
}

header.two-col-block a {
  margin: 9vw auto;
}

@media (min-width: 720px) {
  header.two-col-block a {
    margin: 3vw auto;
  }
}

header.two-col-block .hero-text {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

header.two-col-block .hero-text h1 {
  margin-bottom: 1.5vw;
}

@media (min-width: 720px) {
  header.two-col-block .hero-text h1 {
    width: 26vw;
  }
}

header.two-col-block .hero-text p {
  padding-bottom: 2vw;
}

header.two-col-block .mint-button {
  width: 100%;
  height: 12vw;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.05%, #c4d26f), color-stop(100.16%, #35a603));
  background: linear-gradient(90deg, #c4d26f 0.05%, #35a603 100.16%);
  margin: 0 auto 5vw auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.two-col-block .mint-button p {
  font-family: "Strait", sans-serif;
  color: #000000;
  text-align: center;
  font-size: 5vw;
  text-transform: uppercase;
  padding-bottom: 0;
}

@media (min-width: 720px) {
  header.two-col-block .mint-button {
    width: 60%;
    height: 4.5vw;
    border-radius: 10px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header.two-col-block .mint-button p {
    font-family: "Strait", sans-serif;
    color: #000000;
    text-align: center;
    font-size: 2.5vw;
    text-transform: uppercase;
    padding-bottom: 0;
  }
}

header.two-col-block .hero-img {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  position: relative;
  margin: 5vw auto;
}

header.two-col-block .sticky-tape {
  height: 7vw;
  width: 22vw;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 720px) {
  header.two-col-block .sticky-tape {
    height: 3vw;
    width: 9vw;
  }
}

header.two-col-block .sticky-tape-1 {
  position: absolute;
  top: 0%;
  left: 80%;
}

header.two-col-block .sticky-tape-2 {
  position: absolute;
  top: 91%;
  left: -9%;
}

@media (min-width: 720px) {
  header.two-col-block .sticky-tape-2 {
    top: 91%;
    left: -10%;
  }
}
/*# sourceMappingURL=main.css.map */