//Breakponts
$desktop-breakpoint: 720px;

//Colours
$dark-background: #000000; // Black
$exile-green: #35a603; // Lime green

$dark-copy: hsl(0, 0%, 100%);

//Fonts
$heading-font: "Teko", sans-serif;
$body-font: "DM Sans", sans-serif;
//Mobile font sizes
$p-size-m: 4vw;
$h1-size-m: 11vw;
$h2-size-m: 9vw;
$h3-size-m: 6vw;
//Desktop font sizes
$p-size-dt: 1.458vw;
$h1-size-dt: 7vw;
$h2-size-dt: 5.5vw;
$h3-size-dt: 4vw;
