header.two-col-block {
	width: 86%;
	padding-bottom: 5vw;

	margin: 12vw auto 0 auto;
	border-bottom: 2px solid $exile-green;
	@include for-desktop {
		margin: 5vw auto 0 auto;
	}
	img {
		width: 100%;
	}

	a {
		margin: 9vw auto;

		@include for-desktop {
			margin: 3vw auto;
		}
	}
	.hero-text {
		flex: 5;
		h1 {
			margin-bottom: 1.5vw;
			@include for-desktop {
				width: 26vw;
			}
		}
		p {
			padding-bottom: 2vw;
		}
	}
	.mint-button {
		width: 100%;
		height: 12vw;
		border-radius: 10px;
		background: linear-gradient(90deg, #c4d26f 0.05%, #35a603 100.16%);

		margin: 0 auto 5vw auto;
		display: flex;
		align-items: center;
		justify-content: center;
		p {
			font-family: "Strait", sans-serif;
			color: #000000;
			text-align: center;
			font-size: 5vw;
			text-transform: uppercase;
			padding-bottom: 0;
		}

		@include for-desktop {
			width: 60%;
			height: 4.5vw;
			border-radius: 10px;

			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			p {
				font-family: "Strait", sans-serif;
				color: #000000;
				text-align: center;
				font-size: 2.5vw;
				text-transform: uppercase;
				padding-bottom: 0;
			}
		}
	}
	.hero-img {
		flex: 4;
		position: relative;
		margin: 5vw auto;
	}
	.sticky-tape {
		height: 7vw;
		width: 22vw;
		background-color: rgba($color: #ffffff, $alpha: 0.5);
		transform: rotate(45deg);
		@include for-desktop {
			height: 3vw;
			width: 9vw;
		}
	}

	.sticky-tape-1 {
		position: absolute;
		top: 0%;
		left: 80%;
	}
	.sticky-tape-2 {
		position: absolute;
		top: 91%;
		left: -9%;
		@include for-desktop {
			top: 91%;
			left: -10%;
		}
	}
}
